{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
           <!-- [ breadcrumb ] start -->
           <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard SmarTool</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Dashboard SmarTool</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- support-section start -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">INFO</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <!-- <div class="col"> -->
                                        <!-- <h4 class="m-0">131,927</h4> -->
                                        <h5 class="m-0">Tool Nr:  1243598DE</h5>
                                        <h5 class="m-0">Manufactured in:  12/05/2023</h5>
                                        <h5 class="m-0">Sent to Producer in:  16/07/2023</h5>
                                        <h5 class="m-0">Time Running:  289h</h5>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Manufactured Parts</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">131,927</h4>
                                        <span>Parts produced</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">31,9276</h4>
                                        <span>Parts out of tolerance</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 ">100,000</h4>
                                        <span>Feasable parts</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Ambient Temperature</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">38.23°C</h4>
                                        <span>Last measured value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">38,76°C</h4>
                                        <span>Mean value</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Ambient Humidity</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">38.23%</h4>
                                        <span>Last measured value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">38,76%</h4>
                                        <span>Mean value</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Cavity Temperature</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">105.12°C</h4>
                                        <span>Last measured value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">107.54°C</h4>
                                        <span>Mean value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">110°C</h4>
                                        <span>Set value in machine</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Cycles</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">178,243/200,000</h4>
                                        <span>Cycles until overhaul</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Cavity Pressure</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">993 Bar</h4>
                                        <span>Last measured value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">961 Bar</h4>
                                        <span>Mean value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">1000 Bar</h4>
                                        <span>Set value in machine</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Clampling Force</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0">411 kN</h4>
                                        <span>Last measured value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">482 kN</h4>
                                        <span>Mean value</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0">500 kN</h4>
                                        <span>Set value in machine</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                
                
                    <div class="col-xl-6 col-md-12">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Location STRACK</span>
                                
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <div style="position:relative; padding-bottom:75%; height:0; overflow:hidden; padding-right: 100%;">
                                            <iframe
                                                src="https://www.openstreetmap.org/export/embed.html?bbox=13.321834802627565%2C52.52304139395656%2C13.325375318527222%2C52.52445792065484&amp;layer=mapnik"
                                                style="position:absolute; width:100%; height:100%; border: 1px solid rgb(255, 255, 255);"
                                                allowfullscreen>
                                            </iframe>
                                        </div>
                                        <br />
                                        <small><a href="https://www.openstreetmap.org/#map=19/52.52375/13.32361">View Larger Map</a></small>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- customer-section end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/dashboard-sale.js"></script>

{% endblock javascripts %}
