{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
           <!-- [ breadcrumb ] start -->
           <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard SmarTool</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Dashboard SmarTool</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- support-section start -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">INFO</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <!-- <div class="col"> -->
                                        <!-- <h4 class="m-0">131,927</h4> -->
                                        <h5 class="m-0">Tool Nr:  1243598DE</h5>
                                        <h5 class="m-0">Manufactured in:  12/05/2023</h5>
                                        <h5 class="m-0">Sent to Producer in:  16/07/2023</h5>
                                        <h5 class="m-0">Time Running:  289h</h5>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Manufactured Parts</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4  style="font-size: 38px;" class="m-0">131,927</h4>
                                        <h4  style="font-size: 16px;">Parts produced</h4>
                                    </div>
                                    <div class="col">
                                        <h4  style="font-size: 38px;" class="m-0">31,9276</h4>
                                        <h4  style="font-size: 16px;">Parts out of tolerance</h4>
                                        
                                    </div>
                                    <div class="col">
                                        <h4  style="font-size: 38px;" class="m-0 ">100,000</h4>
                                        <h4  style="font-size: 16px;">Usable parts</h4>                                       
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Cycles until Overhaul</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div id="data-container" class="m-0">
                                        <!-- Data will be displayed here -->
                                        <script>
                                            let timerId = null; // Variable to store the timer ID
                                        
                                            function fetchData() {
                                                fetch('/api/arduino-results/') // Replace with your Django API endpoint
                                                    .then(response => response.json()) // Convert the response to JSON format
                                                    .then(data => {
                                                        // Display the last item from the data array
                                                        const lastItem = data[data.length - 1];
                                                        const formattedItem = `<p style="font-size: 25px;"><strong> Number:</strong> ${formatNumber(lastItem.cycle_nr)}/200,000</p>`;
                                                        //const formattedItem = `<p style="font-size: 20px;"><strong> Number: </strong>${lastItem.cycle_nr}</p>`;
                                                        document.getElementById('data-container').innerHTML = formattedItem;
                                                    })
                                                    .catch(error => console.error('Error fetching data:', error)); // Handle errors if fetch fails
                                            }
                                            function formatNumber(number) {
                                                // Use toLocaleString to format the number with dots for thousands
                                                return number.toLocaleString();
                                            }
                                        
                                            // Fetch data initially
                                            fetchData();
                                        
                                            // Fetch data and display every 1 seconds (for example)
                                            setInterval(() => {
                                                fetchData(); // Fetch data from the API
                                            }, 1000); // Set interval to fetch data every 1 second (1000 milliseconds)
                                        </script>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>      
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Ambient Temperature</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div id="data-container-2" class="m-0">
                                        <!-- Data will be displayed here -->
                                        <canvas id="temperature-chart"></canvas>
                                        <script>
                                            let timerId_2 = null; // Variable to store the timer ID                                                
                                            let chartData = {
                                                labels: [],
                                                datasets: [{
                                                    label: 'Ambient Temperature Chart',
                                                    data: [],
                                                    borderColor: 'blue',
                                                    backgroundColor: 'rgba(0, 0, 255, 0.1)',
                                                }]
                                            };
                                    
                                            let temperatureChart = null;
                                    
                                            // Function to draw or update the chart
                                            function drawOrUpdateChart(newDataPoint, newLabel) {
                                                if (chartData.labels.length >= 50) {
                                                    chartData.labels.shift();
                                                    chartData.datasets[0].data.shift();
                                                }
                                                chartData.labels.push(newLabel);
                                                chartData.datasets[0].data.push(newDataPoint);
                                    
                                                if (temperatureChart) {
                                                    temperatureChart.update();
                                                } else {
                                                    const ctx = document.getElementById('temperature-chart').getContext('2d');
                                                    temperatureChart = new Chart(ctx, {
                                                        type: 'line',
                                                        data: chartData,
                                                        options: {
                                                            scales: {
                                                                y: {
                                                                    beginAtZero: true,
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Temperature (°C)',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                x: {
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Cycle Number',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                legend: {
                                                                    display: false // Set display to false to remove the legend box
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                    
                                            // Fetch data initially and update chart
                                            function fetchDataAndDrawOrUpdateChart() {
                                                fetch('/api/arduino-results/') // Replace with your Django API endpoint
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const lastItem = data[data.length - 1];
                                                        const temperature = lastItem.mean_ambient_temperature;
                                                        const cycleNr = lastItem.cycle_nr; // Assuming there's a cycle_nr field
                                    
                                                        // Update textual data
                                                        const formattedItem = `<div style="font-size: 25px; display: inline-block;">
                                                                                   <strong>Last measured value:</strong> ${temperature} °C
                                                                                </div>
                                                                                <div style="font-size: 25px; display: inline-block;">
                                                                                   <strong> Mean value:</strong> ${temperature} °C
                                                                                </div>`;
                                                        document.getElementById('data-container-2').innerHTML = formattedItem;
                                    
                                                        // Draw or update the chart
                                                        drawOrUpdateChart(temperature, cycleNr);
                                                    })
                                                    .catch(error => console.error('Error fetching data:', error));
                                            }
                                    
                                            // Fetch data initially and update chart
                                            fetchDataAndDrawOrUpdateChart();
                                    
                                            // Fetch data and update chart every 1 second
                                            setInterval(() => {
                                                fetchDataAndDrawOrUpdateChart();
                                            }, 1000); // Set interval to fetch data every 1 second (1000 milliseconds)
                                        </script>

                                    </div>
                                    
                                    <canvas id="temperature-chart"></canvas>

                                </div>
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Ambient Humidity</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div id="data-container-3" class="m-0">
                                        <!-- Data will be displayed here -->
                                        <canvas id="humidity-chart"></canvas>
                                        <script>
                                            let timerId_3 = null; // Variable to store the timer ID                                                
                                            let chartData_3 = {
                                                labels: [],
                                                datasets: [{
                                                    label: 'Ambient Humidity Chart',
                                                    data: [],
                                                    borderColor: 'blue',
                                                    backgroundColor: 'rgba(0, 0, 255, 0.1)',
                                                }]
                                            };
                                    
                                            let humidityChart = null;
                                    
                                            // Function to draw or update the chart
                                            function drawOrUpdateChart_3(newDataPoint, newLabel) {
                                                if (chartData_3.labels.length >= 50) {
                                                    chartData_3.labels.shift();
                                                    chartData_3.datasets[0].data.shift();
                                                }
                                                chartData_3.labels.push(newLabel);
                                                chartData_3.datasets[0].data.push(newDataPoint);
                                    
                                                if (humidityChart) {
                                                    humidityChart.update();
                                                } else {
                                                    const ctx = document.getElementById('humidity-chart').getContext('2d');
                                                    humidityChart = new Chart(ctx, {
                                                        type: 'line',
                                                        data: chartData_3,
                                                        options: {
                                                            scales: {
                                                                y: {
                                                                    beginAtZero: true,
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Humidity (%)',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                x: {
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Cycle Number',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                legend: {
                                                                    display: false // Set display to false to remove the legend box
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                    
                                            // Fetch data initially and update chart
                                            function fetchDataAndDrawOrUpdateChart_3() {
                                                fetch('/api/arduino-results/') // Replace with your Django API endpoint
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const lastItem = data[data.length - 1];
                                                        const humidity = lastItem.mean_ambient_humidity;
                                                        const cycleNr = lastItem.cycle_nr; // Assuming there's a cycle_nr field
                                    
                                                        // Update textual data
                                                        const formattedItem = `<div style="font-size: 25px; display: inline-block;">
                                                                                   <strong>Last measured value:</strong> ${humidity} %
                                                                                </div>
                                                                                <div style="font-size: 25px; display: inline-block;">
                                                                                   <strong> Mean value:</strong> ${humidity} %
                                                                                </div>`;
                                                        document.getElementById('data-container-3').innerHTML = formattedItem;
                                    
                                                        // Draw or update the chart
                                                        drawOrUpdateChart_3(humidity, cycleNr);
                                                    })
                                                    .catch(error => console.error('Error fetching data:', error));
                                            }
                                    
                                            // Fetch data initially and update chart
                                            fetchDataAndDrawOrUpdateChart_3();
                                    
                                            // Fetch data and update chart every 1 second
                                            setInterval(() => {
                                                fetchDataAndDrawOrUpdateChart_3();
                                            }, 1000); // Set interval to fetch data every 1 second (1000 milliseconds)
                                        </script>

                                    </div>

                                    <canvas id="humidity-chart"></canvas>
                                    
                                </div>

                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Cavity Temperature</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div id="data-container-4" class="m-0">
                                        <!-- Data will be displayed here -->
                                        <canvas id="cavity-temperature-chart"></canvas>
                                        <script>
                                            let timerId_4 = null; // Variable to store the timer ID                                                
                                            let chartData_4 = {
                                                labels: [],
                                                datasets: [{
                                                    label: 'Cavity Temperature Chart',
                                                    data: [],
                                                    borderColor: 'blue',
                                                    backgroundColor: 'rgba(0, 0, 255, 0.1)',
                                                }]
                                            };
                                    
                                            let cavitytempChart = null;
                                    
                                            // Function to draw or update the chart
                                            function drawOrUpdateChart_4(newDataPoint, newLabel) {
                                                if (chartData_4.labels.length >= 50) {
                                                    chartData_4.labels.shift();
                                                    chartData_4.datasets[0].data.shift();
                                                }
                                                chartData_4.labels.push(newLabel);
                                                chartData_4.datasets[0].data.push(newDataPoint);
                                    
                                                if (cavitytempChart) {
                                                    cavitytempChart.update();
                                                } else {
                                                    const ctx = document.getElementById('cavity-temperature-chart').getContext('2d');
                                                    cavitytempChart = new Chart(ctx, {
                                                        type: 'line',
                                                        data: chartData_4,
                                                        options: {
                                                            scales: {
                                                                y: {
                                                                    beginAtZero: true,
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Temperature (°C)',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                x: {
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Cycle Number',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                legend: {
                                                                    display: false // Set display to false to remove the legend box
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                    
                                            // Fetch data initially and update chart
                                            function fetchDataAndDrawOrUpdateChart_4() {
                                                fetch('/api/arduino-results/') // Replace with your Django API endpoint
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const lastItem = data[data.length - 1];
                                                        const cavity = lastItem.mean_cavity_temperature;
                                                        const cycleNr = lastItem.cycle_nr; // Assuming there's a cycle_nr field
                                    
                                                        // Update textual data
                                                        const formattedItem = `<div style="font-size: 20px; display: inline-block;">
                                                                                   <strong>Last measured value:</strong> ${cavity} °C
                                                                                </div>
                                                                                <div style="font-size: 20px; display: inline-block;">
                                                                                   <strong> Mean value:</strong> ${cavity} °C
                                                                                </div>
                                                                                <div style="font-size: 20px; display: inline-block;">
                                                                                    <strong>Set value in machine:</strong> 110 °C
                                                                                </div>`;
                                                        document.getElementById('data-container-4').innerHTML = formattedItem;
                                    
                                                        // Draw or update the chart
                                                        drawOrUpdateChart_4(cavity, cycleNr);
                                                    })
                                                    .catch(error => console.error('Error fetching data:', error));
                                            }
                                    
                                            // Fetch data initially and update chart
                                            fetchDataAndDrawOrUpdateChart_4();
                                    
                                            // Fetch data and update chart every 1 second
                                            setInterval(() => {
                                                fetchDataAndDrawOrUpdateChart_4();
                                            }, 1000); // Set interval to fetch data every 1 second (1000 milliseconds)
                                        </script>

                                    </div>

                                    <canvas id="cavity-temperature-chart"></canvas>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Clampling Force</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div id="data-container-6" class="m-0">
                                        <!-- Data will be displayed here -->
                                        <canvas id="clamping-force-chart"></canvas>
                                        <script>
                                            let timerId_5 = null; // Variable to store the timer ID                                                
                                            let chartData_5 = {
                                                labels: [],
                                                datasets: [{
                                                    label: 'Clamping Force Chart',
                                                    data: [],
                                                    borderColor: 'blue',
                                                    backgroundColor: 'rgba(0, 0, 255, 0.1)',
                                                }]
                                            };
                                    
                                            let clampingforceChart = null;
                                    
                                            // Function to draw or update the chart
                                            function drawOrUpdateChart_5(newDataPoint, newLabel) {
                                                if (chartData_5.labels.length >= 50) {
                                                    chartData_5.labels.shift();
                                                    chartData_5.datasets[0].data.shift();
                                                }
                                                chartData_5.labels.push(newLabel);
                                                chartData_5.datasets[0].data.push(newDataPoint);
                                    
                                                if (clampingforceChart) {
                                                    clampingforceChart.update();
                                                } else {
                                                    const ctx = document.getElementById('clamping-force-chart').getContext('2d');
                                                    clampingforceChart = new Chart(ctx, {
                                                        type: 'line',
                                                        data: chartData_5,
                                                        options: {
                                                            scales: {
                                                                y: {
                                                                    beginAtZero: true,
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Force (N)',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                x: {
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Cycle Number',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                legend: {
                                                                    display: false // Set display to false to remove the legend box
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                    
                                            // Fetch data initially and update chart
                                            function fetchDataAndDrawOrUpdateChart_5() {
                                                fetch('/api/arduino-results/') // Replace with your Django API endpoint
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const lastItem = data[data.length - 1];
                                                        const clamping = lastItem.mean_closing_force;
                                                        const cycleNr = lastItem.cycle_nr; // Assuming there's a cycle_nr field
                                    
                                                        // Update textual data
                                                        const formattedItem = `<div style="font-size: 20px; display: inline-block;">
                                                                                   <strong>Last measured value:</strong> ${clamping} N
                                                                                </div>
                                                                                <div style="font-size: 20px; display: inline-block;">
                                                                                   <strong> Mean value:</strong> ${clamping} N
                                                                                </div>
                                                                                <div style="font-size: 20px; display: inline-block;">
                                                                                    <strong>Set value in machine:</strong> 350 kN
                                                                                </div>`;
                                                        document.getElementById('data-container-6').innerHTML = formattedItem;
                                    
                                                        // Draw or update the chart
                                                        drawOrUpdateChart_5(clamping, cycleNr);
                                                    })
                                                    .catch(error => console.error('Error fetching data:', error));
                                            }
                                    
                                            // Fetch data initially and update chart
                                            fetchDataAndDrawOrUpdateChart_5();
                                    
                                            // Fetch data and update chart every 1 second
                                            setInterval(() => {
                                                fetchDataAndDrawOrUpdateChart_5();
                                            }, 1000); // Set interval to fetch data every 1 second (1000 milliseconds)
                                        </script>

                                    </div>

                                    <canvas id="clamping-force-chart"></canvas>
                                    
                                </div>
                                
                            </div>
                            <!-- <div id="support-chart1"></div> -->
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Cavity Pressure</span>
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div id="data-container-5" class="m-0">
                                        <!-- Data will be displayed here -->
                                        <canvas id="cavitiy-pressure-chart"></canvas>
                                        <script>
                                            let timerId_6 = null; // Variable to store the timer ID                                                
                                            let chartData_6 = {
                                                labels: [],
                                                datasets: [{
                                                    label: 'Cavity Pressure Chart',
                                                    data: [],
                                                    borderColor: 'blue',
                                                    backgroundColor: 'rgba(0, 0, 255, 0.1)',
                                                }]
                                            };
                                    
                                            let cavitypressChart = null;
                                    
                                            // Function to draw or update the chart
                                            function drawOrUpdateChart_6(newDataPoint, newLabel) {
                                                if (chartData_6.labels.length >= 50) {
                                                    chartData_6.labels.shift();
                                                    chartData_6.datasets[0].data.shift();
                                                }
                                                chartData_6.labels.push(newLabel);
                                                chartData_6.datasets[0].data.push(newDataPoint);
                                    
                                                if (cavitypressChart) {
                                                    cavitypressChart.update();
                                                } else {
                                                    const ctx = document.getElementById('cavitiy-pressure-chart').getContext('2d');
                                                    cavitypressChart = new Chart(ctx, {
                                                        type: 'line',
                                                        data: chartData_6,
                                                        options: {
                                                            scales: {
                                                                y: {
                                                                    beginAtZero: true,
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Pressure (Bar)',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                x: {
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Cycle Number',
                                                                        font: {
                                                                            size: 14
                                                                        }
                                                                    }
                                                                },
                                                                legend: {
                                                                    display: false // Set display to false to remove the legend box
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                    
                                            // Fetch data initially and update chart
                                            function fetchDataAndDrawOrUpdateChart_6() {
                                                fetch('/api/arduino-results/') // Replace with your Django API endpoint
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const lastItem = data[data.length - 1];
                                                        const pressure = lastItem.mean_cavity_pressure;
                                                        const cycleNr = lastItem.cycle_nr; // Assuming there's a cycle_nr field
                                    
                                                        // Update textual data
                                                        const formattedItem = `<div style="font-size: 20px; display: inline-block;">
                                                                                   <strong>Last measured value:</strong> ${pressure} Bar
                                                                                </div>
                                                                                <div style="font-size: 20px; display: inline-block;">
                                                                                   <strong> Mean value:</strong> ${pressure} Bar
                                                                                </div>
                                                                                <div style="font-size: 20px; display: inline-block;">
                                                                                    <strong>Set value in machine:</strong> 1000 Bar
                                                                                </div>`;
                                                        document.getElementById('data-container-5').innerHTML = formattedItem;
                                    
                                                        // Draw or update the chart
                                                        drawOrUpdateChart_6(pressure, cycleNr);
                                                    })
                                                    .catch(error => console.error('Error fetching data:', error));
                                            }
                                    
                                            // Fetch data initially and update chart
                                            fetchDataAndDrawOrUpdateChart_6();
                                    
                                            // Fetch data and update chart every 1 second
                                            setInterval(() => {
                                                fetchDataAndDrawOrUpdateChart_6();
                                            }, 1000); // Set interval to fetch data every 1 second (1000 milliseconds)
                                        </script>

                                    </div>

                                    <canvas id="cavitiy-pressure-chart"></canvas>
                                    
                                </div>
                                
                            </div>
                     
                        </div>
                    </div>
                        
                
                    <div class="col-md-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <!-- <h2 class="m-0">131,927</h2> -->
                                <span class="text-primary">Location</span>
                                
                                <!-- <p class="mb-3 mt-3">Total number of manufactured parts</p> -->
                            </div>
                            <div class="card-footer border-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <div style="position:relative; padding-bottom:55%; height:0; overflow:hidden; padding-right: 100%;">
                                            <iframe
                                                src="https://www.openstreetmap.org/export/embed.html?bbox={{ box_lng_left }}%2C{{ box_lat_bottom }}%2C{{ box_lng_right}}%2C{{box_lat_top}}&amp;layer=mapnik&marker={{ lat }}%2C{{ lng }}"
                                                style="position:absolute; width:100%; height:100%; border: 1px solid rgb(255, 255, 255);"
                                                allowfullscreen>
                                            </iframe>
                                        </div>
                                        <br />
                                        <small><a href="https://www.openstreetmap.org/#map=19/52.52375/13.32361">View Larger Map</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- customer-section end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/dashboard-sale.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

{% endblock javascripts %}
